.game-card {
    height: 100vh;
    font-family: "Share Tech Mono", monospace;
  }
  
  .dataBirth,
  .proff {
    font-size: 1.25em;
  }
  
  .proff {
    font-weight: bold;
  }
  
  .button input {
    margin: 3px 20px;
  }